html,
body {
  margin: 0;
}

p {
  margin: 0;
}

#removable-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.removable-paragraph:hover {
  color: red;
  cursor: pointer;
}

#center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 100vh;
  font-size: 42px;
  font-weight: bold;
  background-color: green;
  /* background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%); */
}

#end-message {
  display: none;
}

#add-paragraph-button {
  background-color: orange;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 33px;
  font-weight: bold;
}

#add-paragraph-button:hover {
  cursor: pointer;
  background-color: darkorange;
}
